html {
	background-color:#E0BBE4;
	text-align: center;
}
body {
	text-align: center;
	float:center;
}
.navbar a {
	text-align:center;
	background-color: #cd92d3;
	padding: 5px;
	text-decoration: none;
	border-style: solid;
	border-color: #FEC8D8;
	border-width: 1px;
	display:inline-block;
}
.navbar {
	float: center;
}
li {
	list-style-type: none;
	float: left;
	text-align: center;
	width: 25%;
	border-style: solid;
	border-color: #FEC8D8;
	border-width: 1px;
	background-color: #cd92d3;

}
p {
	padding-left: 5px;
	padding-right: 5px;
}


.grid-container { 
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;

  padding: 10px;
}
.grid-container > div {

  text-align: center;
  padding: 20px 0;
  font-size: 15px;
}
.item1 {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
  	grid-row-end: 1;
}
.w3-card-4 {
	margin: 25%;
	min-width:50%;

}
.item2 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
  	grid-row-end: 1;
}
.bio {
	margin: auto;
	width: 65%;
	background-color:#deb6e2;
	padding-left:5%;
	padding-right:5%;
	padding-top:2%;
	padding-bottom:1%;
	font-family: Comic Sans, Comic Sans MS, cursive;
	box-shadow:  3px 3px 5px 6px  #cd92d3;
	margin-top: 10%;
}
footer {
	font-size: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.w3-card-4 {
	width: 50%;
}
img {
	height: 100%; 
	width: 100%; 
	object-fit: contain;
	transition: transform .2s;
}
img:hover {
	transform: scale(1.5);
}
