html {
	background-color:#E0BBE4;
}
body {
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	text-align: center;
}
.navbar {
	padding-right: 10%;
	padding-left: 10%;
}
li {
	list-style-type: none;
	float: left;
	padding: 1%;
	text-align: center;
	width: 25%;
	border-style: solid;
	border-color: #FEC8D8;
	border-width: 1px;
	background-color: #cd92d3;

}
iframe {
	padding-left: 25%;
	padding-right: 25%;
}