@charset "UTF-8";
html {
	background-color: #E0BBE4;
	text-align: center;
}
body {
	text-align: center;
		background-image: url("bg.jpg");
	background-color: #E0BBE4;

}
a, a:hover{
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-style: none;
	color: black;
}
.bio {
	margin: auto;
	width: 65%;
	background-color:#deb6e2;;
	margin-top:6%;
	padding: 2em;
	font-family: Comic Sans, Comic Sans MS, cursive;
	box-shadow:  3px 3px 5px 6px  #cd92d3;

}
footer {
	font-size: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
img {
	object-fit: contain;
	transition: transform .2s;
}
img:hover {
	transform: scale(1.5);
}
#commissionForm {
	padding-top: 10px ;
}
.hR {
	border: 1px solid #cd92d3;
}
.trans {
	opacity: 0.7;
}